**/.classpath
**/.project
**/.settings
**/.idea
**/*.iml
**/.vscode
**/target
.mvn
mvnw
mvnw.cmd
**/.git
**/.gitignore
**/Dockerfile*
**/docker-compose*
**/charts
**/azds.yaml
**/.env
**/secrets.*
**/*.log
LICENSE
README.md
**/.DS_Store
**/Thumbs.db
